div
{
background-color: rgb(192, 225, 255);
}

h3
{
font-size: 35px;
color: teal;
}

p
{
font-family: sans-serif;
color: rgb(255, 51, 0);
font-size: 20px;
padding-left:50px;
padding-right:50px;
}

.introduction
{
font-family: Georgia;
color: red;
}

.title
{
font-family: sans-serif;
color: teal;
font-size: 25px;
}

.que
{
color: teal;
font-size: 20px;
font-family: serif;
}

.place
{
background-color: rgb(200,150,200);
font-size: 25px;
color: teal;
width: 200px;
border: 10px ridge teal;
margin: 0 auto;
}

.event
{
font-size: 25px;
color: purple;
}

.center
{
display: block;
margin: 5px auto;
width: 50%;
border:10px outset red;

}


.pic
{
border: 10px double blue;
margin: 0 auto;
}

.contact
{
border: 4px solid blue;
position: block;
margin: 0 auto;
}

.list
{
font-size:35px;
color: purple;

}

#welcome
{ font-family: bold;
 color: maroon;
 font-size: 25px;
} 
